default:
  mqtt:
    broker: mqtt://broker.lan
    topic: home/room/remote
  events:
    - event6
    - event7
  customKeys:
    582: KEY_MIC
    163: KEY_NEXTSONG
    164: KEY_PLAYPAUSE
    165: KEY_PREVIOUSSONG
    158: KEY_BACK
    172: KEY_HOMEPAGE
    240: KEY_NETFLIX
    207: KEY_PRIME
  autoRepeat:
    - KEY_VOLUMEDOWN
    - KEY_VOLUMEUP
    - KEY_DOWN
    - KEY_UP
    - KEY_LEFT
    - KEY_RIGHT
  serviceuser: me
  testmode: false
  logging:
    console: true
    loki: true
    level: info
    lokiUrl: http://my.loki:3100